@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box; font-family:inherit; list-style:none; font-style:normal;}
p {margin:0; padding:0;}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
}

/* 제목 기본 크기 초기화 */
h1, h2, h3, h4, h5, h6 {font-size:1em;}

/* 링크 초기화 */
a {text-decoration:none; color:inherit;}
a:link, a:visited, a:hover, a:active {text-decoration:none; color:inherit;}

/* 포커스 아웃라인 제거 */
:focus {outline:0;}

/* 입력 요소 초기화 */
input {
	/* -webkit-appearance:none; */
	appearance:none;
	border-radius: 0px;
}

/* 버튼 초기화 */
button {border:0 none; cursor:pointer; background:none;}

/* 이미지 초기화 */
img {max-width:100%; height:auto; vertical-align:top;}

/* 테이블 초기화 */
table {border-collapse:collapse; border-spacing:0;}

svg {color:inherit; fill:currentColor;}
